<div class="container-fluid footer">
    <div class="row">
        <!--  name  -->
        <div class="col-lg-4">
            <h1>Proyecto Final
            </h1>
        </div>
        <!--  nav  -->
        <div class="col-lg-4">
            <a routerLink="">Inicio</a>
            <div class="dropup">
                <button class="dropbtn">Algoritmos</button>
                <div class="dropup-content">
                    <a routerLink="cipher">Cifrado Cesar</a>
                    <a routerLink="#">Cifrado Polialfabetico</a>
                    <a routerLink="#">Cifrado RSA</a>
                    <a routerLink="#">Cifrado 3DES</a>
                    <a routerLink="#">Firma Digital</a>
                </div>
            </div>
            <a routerLink="about">Sobre Nosotros</a>
            <a routerLink="contact">Contacto</a>
        </div>
        <div class="col-lg-4">
            <p>Pagina creada por estudiantes todos los derechos reservados 2023.</p>
        </div>


    </div>
</div>